[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
[user]
	email = maciej.rosiek@gmail.com
	name = Maciej Rosiek
[pull]
	rebase = false
[core]
	excludesfile = /home/mrosiek/.gitignore_global
	editor = vim
[includeif "gitdir:~/dev/"]
	path = ~/dev/.gitconfig
[init]
	defaultBranch = main
